{% extends 'myapp/user_base.html' %}
{% load static %}
{% block title %}App List{% endblock %}
{% block body %}
<center>
    <h2><font color="#366092"><br>App List</font></h2>
<div class="container">
    <form name="frm"  role="form" action="" method="post">
            {% csrf_token %}
         <br><table class="table table-striped table-bordered">
        <thead>
             <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date/Time</th>
            <th>Action</th>
        </tr>
             </thead>
        {% for p in product_list %}
        <tbody>
             <tr class="info ">

            <td>{{ p.id }}</td>
           <td>{{ p.product_name }}</td>

            {% for k,value in subcategory_list.items %}
				{% if k == p.sub_category_master_id %}
					<td>{{ value }}</td>
				{% endif %}
			{% endfor %}
            <td>{{ p.product_descp }}</td>
            <td>{{ p.product_price }}</td>
            <td>{{ p.dt }}/{{ p.tm }}</td>
            <td>
                <a href="../user_product_pic_view?product_master_id={{p.id}}">Images</a> |
                <a href="../user_product_review_view?product_master_id={{p.id}}">My Reviews</a> |
                <a href="../user_product_allreview_view?product_master_id={{p.id}}">All Reviews</a> |
                <a href="../static/myapp/media/{{ p.status }}" >Download</a>
            </td>
        </tr>
             </tbody>
        {% endfor %}
        </table>
        {{msg}}
        <br/>

    </form>
</div>
</center>
{% endblock %}